* {
  font-family: "Lato";
  color: "#333535";
}

.name {
  font-family: "Teko", sans-serif;
}

li {
  margin: 5px;
  list-style-type: none;
}

.headerLink {
  text-decoration: none;
  color: black;
}

.mdImg {
  height: 100%;
  width: 100%;
  margin-top: 5px;
}
